body{
  background-color: black;
  color: white;
}

  a:link, a:visited {
    color: #00BFFF; /* azul-ciano para link */
    text-decoration: none;
  }

  a:hover {
    color: #FFA500; /* laranja ao passar o mouse */
    text-decoration: underline;
  }

  a:active {
    color: #32CD32; /* verde quando clicado */
  }

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
}

#AJ {
  background-color: rgba(0, 149, 255, 0.149);
}